<div class="row">
    <div class="col-sm-12 col-lg-8 p-4">
        <p>Welcome to Ship Underground! Your source of professor reviews at Shippensburg University!</p>
        <p>Simply click on the Professors tab in the navbar to get started!</p>
    </div>
    <div class="col-sm-12 col-lg-4">
        <a class="twitter-timeline" href="https://twitter.com/UndergroundShip?ref_src=twsrc%5Etfw">Tweets by
            UndergroundShip</a>
        <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>
</div>